students {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

student {
display: table-row;
}

student::before {
display: table-cell;
content: attr(ID);
border: 1px solid;
}

name, contactInfo, academics, status{
display: table-cell;
border: 1px solid;
}

name::before {
content: attr(first) ' ' attr(middle) ' ' attr(preferred) ' ' attr(last)
}
